@{
    ViewBag.Title = "Sobre";
    ViewBag.Message = "Meu Aplicativo ASP.NET - Sistema de Banco";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>MVC WebApp feito em C# ASP.NET com conexão SQL LocalDB. Sistema implementado para simular transações bancárias, nele é possível cadastrar/ler/editar/deletar clientes e transações.</p>
