@{
    ViewBag.Title = "Contato";
    ViewBag.Message = "Marcos Tiago Ferreira Henriques";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Github:</strong> <a href="https://github.com/marcostiagofh">https://github.com/marcostiagofh</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/marcos-henriques-213ab774/">https://www.linkedin.com/in/marcos-henriques-213ab774/</a><br />
    <strong>Gmail:</strong> <a href="mailto:marcostiagofh@gmail.com">marcostiagofh@gmail.com</a>
</address>